<h2>My Vehicles</h2>
<ul class="heroes">
  <li *ngFor="let vehicle of vehicles">
    <a routerLink="/vlist/{{vehicle.id}}">
      <span class="badge">{{vehicle.id}}</span> {{vehicle.reg_tag}}
    </a>
  </li>
</ul>
