<div *ngIf="vehicle">
  <h2>{{ vehicle.reg_tag | uppercase }} Details</h2>
  <div>
    <label>ID:
      <input [(ngModel)]="vehicle.id" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>registration number:
      <input [(ngModel)]="vehicle.reg_tag" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>make:
      <input [(ngModel)]="vehicle.make" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>model:
      <input [(ngModel)]="vehicle.model" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>color:
      <input [(ngModel)]="vehicle.color" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>year:
      <input [(ngModel)]="vehicle.year" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>capacity:
      <input [(ngModel)]="vehicle.capacity" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
<!--
<div *ngIf="vehicle">

  <h2>{{ vehicle.reg_tag | uppercase }} Details</h2>

  <div>
    <label>ID:
      <input [(ngModel)]="vehicle.id" placeholder="ID"/>
    </label>
  </div>

  <div>
    <label>Registration Number:
      <input [(ngModel)]="vehicle.reg_tag" placeholder="Registration Number"/>
    </label>
  </div>

  <div>
    <label>Make:
      <input [(ngModel)]="vehicle.make" placeholder="Make"/>
    </label>
  </div>

  <div>
    <label>Model:
      <input [(ngModel)]="vehicle.model" placeholder="Model"/>
    </label>
  </div>

  <div>
    <label>Color:
      <input [(ngModel)]="vehicle.color" placeholder="Color"/>
    </label>
  </div>

  <div>
    <label>Year:
      <input [(ngModel)]="vehicle.year" placeholder="Year"/>
    </label>
  </div>

  <div>
    <label>Capacity:
      <input [(ngModel)]="vehicle.capacity" placeholder="Capacity"/>
    </label>
  </div>



</div>
-->
