<input #newVehicle
       (keyup.enter)="addVehicle(newVehicle.value)"
       (blur)="addVehicle(newVehicle.value); newVehicle.value='' ">

<button (click)="addVehicle(newVehicle.value)">Add</button>

<ul><li *ngFor="let vehicle of vehicles">{{vehicle}}</li></ul>
