<h2>Add Users</h2>
<app-add-user></app-add-user>
<h2>Users</h2>
<ul class="heroes">
  <li *ngFor="let user of users">
    <a routerLink="/user/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.fname}}
    </a>
  </li>
</ul>
