<div *ngIf="vtype">
  <h2>{{ vtype.type }} Details</h2>
  <div><span>id: </span>{{vtype.id}}</div>
  <div><span>type: </span>{{vtype.type}}</div>
  <div><span>Capacity: </span>{{vtype.capacity}}</div>
  <button (click)="goBack()">go back</button>
</div>
