<h2>My Vtypes</h2>
<ul class="heroes">
  <li *ngFor="let vtype of vtypes">
    <a routerLink="/vtypelist/{{vtype.id}}">
      <span class="badge">{{vtype.id}}</span> {{vtype.type}}
    </a>
  </li>
</ul>
