<h2>Add Rentals</h2>
<app-add-rental></app-add-rental>
<h2>Rentals</h2>
<ul class="heroes">
  <li *ngFor="let rental of rentals">
    <a routerLink="/rental/{{rental.id}}">
      <span class="badge">{{rental.id}}</span> {{rental.u_id}}
    </a>
  </li>
</ul>
