<div *ngIf="user">
  <h2>{{ user.fname }} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div><span>First Name: </span>{{user.fname}}</div>
  <div><span>Last Name: </span>{{user.lname}}</div>
  <div><span>Email: </span>{{user.email}}</div>
  <button (click)="goBack()">go back</button>
</div>
