<input #newUser
       (keyup.enter)="addUser(newUser.value)"
       (blur)="addUser(newUser.value); newUser.value='' ">

<button (click)="addUser(newUser.value)">Add</button>

<ul><li *ngFor="let user of users">{{user}}</li></ul>
