<input #newRental
       (keyup.enter)="addRental(newRental.value)"
       (blur)="addRental(newRental.value); newRental.value='' ">

<button (click)="addRental(newRental.value)">Add</button>

<ul><li *ngFor="let rental of rentals">{{rental}}</li></ul>
