<h2>Add Vtypes</h2>
<app-add-vtype></app-add-vtype>
<h2>My Vtypes</h2>
<ul class="heroes">
  <li *ngFor="let vtype of vtypes">
    <a routerLink="/vtype/{{vtype.id}}">
      <span class="badge">{{vtype.id}}</span> {{vtype.type}}
    </a>
  </li>
</ul>
