<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/vehicles">vehicles</a>
  <a routerLink="/users">users</a>
  <a routerLink="/vtype">Vehicle Type</a>
  <a routerLink="/rental">Rentals</a>
  <a routerLink="/vlist">Vehicle List</a>
  <a routerLink="/ulist">User List</a>
  <a routerLink="/vtypelist">Vehicle Type List</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
