<div *ngIf="user">
  <h2>{{ user.fname | uppercase }} Details</h2>
  <div>
    <label>ID:
      <input [(ngModel)]="user.id" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>registration number:
      <input [(ngModel)]="user.fname" placeholder="name"/>
    </label>
  </div>
