<div *ngIf="vehicle">
  <h2>{{ vehicle.reg_tag | uppercase }} Details</h2>
  <div><span>ID:</span>{{vehicle.id}}</div>
  <div><span>Registration Tag:</span>{{vehicle.reg_tag}}</div>
  <div><span>Make:</span>{{vehicle.make}}</div>
  <div><span>Model:</span>{{vehicle.model}}</div>
  <div><span>Color:</span>{{vehicle.color}}</div>
  <div><span>Year:</span>{{vehicle.year}}</div>
  <div><span>Capacity:</span>{{vehicle.capacity}}</div>
  <button (click)="goBack()">go back</button>
</div>
