<h3>Top Vehicles</h3>
<div class="grid grid-pad">
  <a *ngFor="let vehicle of vehicles" class="col-1-4"
     routerLink="/detail/{{vehicle.id}}">
    <div class="module hero">
      <h4>{{vehicle.reg_tag}}</h4>
    </div>
  </a>
</div>
