<div *ngIf="rental">
  <h2>{{ rental.id | uppercase }} Details</h2>
  <div>
    <label>Rental ID:
      <input [(ngModel)]="rental.id" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>User ID:
      <input [(ngModel)]="rental.u_id" placeholder="User ID"/>
    </label>
  </div>
  <div>
    <label>Vehicle ID:
      <input [(ngModel)]="rental.v_id" placeholder="Vehicle ID"/>
    </label>
  </div>
</div>
