<div *ngIf="vtype">
  <h2>{{ vtype.type | uppercase }} Details</h2>
  <div>
    <label>ID:
      <input [(ngModel)]="vtype.id" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>Type:
      <input [(ngModel)]="vtype.type" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>Capacity:
      <input [(ngModel)]="vtype.capacity" placeholder="name"/>
    </label>
  </div>
</div>

