<input #newVtype
       (keyup.enter)="addVtype(newVtype.value)"
       (blur)="addVtype(newVtype.value); newVtype.value='' ">

<button (click)="addVtype(newVtype.value)">Add</button>

<ul><li *ngFor="let vtype of vtypes">{{vtype}}</li></ul>
